# Ignore everything
*

# But look in directories
!*/

# Allow gitignore, scripts, and figures
!.gitignore
!.here
!**.py
!**.R
!**.bsh
!**.pdf
!**.png
!**.tracks.ini
!data/scratch/metagene/L1.original_alignment_meta.txt
!data/scratch/metagene/L1.beta_pass_meta.txt
!data/scratch/metagene/L1.beta_fail_meta.txt
!references/WB245/ce11_UCSC_WB245.bed12.corrected.bed
!references/utrs/mangoneAltPAS.txt