# Ignore everything
*

# But look in directories
!*/

# Allow gitignore, scripts, and figures
!.gitignore
!.here
!**.py
!**.R
!**.bsh
!**.pdf
!**.png
!**.tracks.ini
!data/scratch/metagene/L1.original_alignment_meta.txt
!data/scratch/metagene/L1.beta_pass_meta.txt
!data/scratch/metagene/L1.beta_fail_meta.txt
!references/WS245/ce11_UCSC_WS245.bed12.bed
!references/utrs/mangoneAltPAS.txt
!results/trackHub/hub.txt
!results/trackHub/genomes.txt
!results/trackHub/ce11_nanopore.html
!results/trackHub/ce11/trackDb.txt
!results/trackHub/WBcel235/trackDb.txt

# Reignore the .R scripts left behind by CPAT
results/coding_predictions/all_stringent_isoforms_predictions.tsv.r
references/CPAT_Training/ce.make_logitModel.r